/*@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
font-family: 'Marcellus', serif;*/
/* &family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800 
font-family: 'Montserrat Alternates', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');

:root {
    --color-lime-50: #f7fee7;
    --color-lime-100: #ecfccb;
    --color-lime-200: #d9f99d;
    --color-lime-300: #bef264;
    --color-lime-400: #a3e635;
    --color-lime-500: #84cc16;
    --color-lime-600: #65a30d;
    --color-lime-700: #4d7c0f;
    --color-lime-800: #3f6212;
    --color-lime-900: #365314;

    --clr-main: black;
    --clr-secondary: white;
    --clr-shadow: rgb(232, 232, 232);

    --clr-interact: #6aac0f; /* Based on --color-lime-600 */
    --clr-interact-hover: #81b829; /* Based on --color-lime-500 */
    --clr-interact-active: var(--color-lime-500);
    
    --bg-clr-main: #FFF;
    --bg-clr-secondary: #6aac0f;

    --gap: 1rem;
    --gap-button: .3rem;
    --side-gap: 8vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    font: inherit;
    color: inherit;
}

body {
    min-height: 100vh;
    font-size: 16px;
    position: relative;
    display: grid;
    grid: "header"  min-content
          "content" auto
          "footer"  min-content
          / auto;
    background: var(--bg-clr-main);
    color: var(--clr-main);
    font-family: 'Quattrocento', serif;
}



/* Header */

header {
    grid-area: header;
    position: sticky;
    top: 0;
    padding: 1rem var(--side-gap);
    display: grid;
    grid-template-columns: 1fr max-content 1fr; 
    background: var(--clr-interact);
    color: var(--clr-secondary);
    font-size: 1.1rem;
}

/* Menu */
header .menu {
    display: flex;
}

header .menu ul {
    display: flex;
    height: 100%;
}

header .menu ul li {
    display: flex;
    align-items: flex-end;
}

/* Buttons */
header .menu button {
    height: 100%;
    flex: 1;
    padding: 0 calc(2 * var(--gap-button));
    border: none;
    cursor: pointer;
    background: var(--clr-interact);
    color: var(--clr-secondary);
    border-radius: .1rem;
}



/* Form */
form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap);
}

form label[for="search"] {
    display: flex;
    align-items: center;
    gap: .5rem;
}

form input[type="search"] {
    width: 15vw;
    padding: .2em;
    background: var(--bg-clr-main);
    color: var(--clr-main);
    outline: none;
    border: 0;
    border-radius: .2em;
}

form input#date {
    width: 20.5px;
    border: none;
}



/* Content */

#content {
    grid-area: content;
    height: 100%;
    padding: var(--gap) var(--side-gap);
}

/* Todos */
.todos {
    grid-area: todos;
    padding: calc(var(--gap) / 2) 0;
}



/* Footer */

footer {
    grid-area: footer;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}



/* Effects */

/* Line effect */
.underline {
    transition: transform .5s ease-in-out;
    position: relative;
}

.underline::after {
    position: absolute;
    content: "";
    width: calc(100% - 4 * var(--gap-button));
    height: 2px;
    bottom: calc(1.5 * var(--gap-button));
    left: calc(2 * var(--gap-button));
    background: var(--bg-clr-main);
    transition: transform .5s;
    transform: scaleX(0);
    transform-origin: right;
  }

  .underline:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Hover up effect */
.hover-up {
    transition: transform .5s ease-in-out;
}

.hover-up:hover {
    transform: translateY(calc(-0.4 * var(--gap-button)));
}

/* Link highlighting */
a {
    color: var(--clr-interact);
}

a:hover {
    color: var(--clr-interact-hover);
}

a:active {
    color: var(--clr-interact-active);
}



/* Elements */

h1 {    
    font-weight: 700;
    font-size: 2rem;
}

ul {
    list-style: none;
}